.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.buttonPreview {
  width: 100%;
  padding: 1.125rem 1rem;
  background-color: var(--heading);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.25rem;
  margin-top: 5rem;

  transition: filter 0.2s;
  cursor: pointer;

  a {
    color: var(--background);
    font-weight: 700
  }

  &:hover {
    filter: brightness(0.8)
  }
}