.headerContainer {
  height: 7rem;
}

.headerContent {
  max-width: 700px;
  height: 7rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  &:hover a {
    cursor : pointer;
  }
}
